
<div class="container">
  <div class="row">
<div class="col-md-12 myClass">
  <h2>From AppComponent</h2>
</div>


  </div>
  <div class="row">
    <div class="col-md-12 myClass "appcustomizedstyledirective>
      <h2>Learn directive</h2>
    </div>
    <hr/>
    <div class="col-md-12 myClass "appRenderCustomizedstyldirective>
      <h2>Directive with Renderr</h2>
    </div>
    <hr/>
    <div class="col-md-12 myClass "appMyeventdirective>
      <h2>Directive with event listener</h2>
    </div>
      </div>
</div>